@import "tailwindcss";

@theme {
    --color-seiza-principal: #D9ADBD;
    --color-seiza-secundario: #57F2E3;
    --color-seiza-terciario: #D9B68B;
    --color-seiza-cuaternario: #8C5A2E;
    --color-seiza-quintario: #F2E9E9;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}